<!-- Main Toolbar of an App -->  
<mat-toolbar color="accent">  
  <span>Industry Project</span>  
  <span class="demo-toolbar"></span>  
  <button mat-button href="asp-dotnet-mvc-tutorials.blogspot.in">Setting</button>  

</mat-toolbar>  

<!-- Card container that binds all togather -->  
<mat-card>  
  <!-- Title of an Card -->  
  <mat-card-title>  
      Outward
  </mat-card-title>  

  <!-- Actual content starts from here -->  
  <mat-card-content>  
      <form [formGroup]="outwardForm" (ngSubmit)="onFormSubmit(outwardForm.value)">  
          <table>  
              <tr>  
                  <td>  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="chalan_number" matInput 
                          type="number" placeholder="chalan Number">  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!outwardForm.get('chalan_number').valid && outwardForm.get('chalan_number').touched">Please enter Chalan number !!!</span>  
                      </mat-error>  
                  </td>  
                 
              </tr>  

     
           <tr>             
              <td>  
                  <mat-form-field class="demo-full-width">  
                      <input formControlName="jobName" matInput placeholder="job Name">  
                  </mat-form-field>  
                  <mat-error>  
                      <span *ngIf="!outwardForm.get('jobName').valid && outwardForm.get('jobName').touched">Please enter job name !!!</span>  
                  </mat-error>  
              </td>  
          </tr>    
               <tr>  
                  <td>  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="inwardQuantity" matInput  type="number" placeholder="Inward Quantity">  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!outwardForm.get('inwardQuantity').valid && outwardForm.get('inwardQuantity').touched">Please enter Inward Quantity !!!</span>  
                      </mat-error>  
                  </td>  
                  
              </tr>   
             
              <tr>  
                <td>  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="inwardBalance" matInput  type="number" placeholder="Inward balance">  
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!outwardForm.get('inwardBalance').valid && outwardForm.get('inwardBalance').touched">Please enter Inward Balance !!!</span>  
                    </mat-error>  
                </td>  
                
            </tr>  
            <tr>  
              <td>  
                  <mat-form-field class="demo-full-width">  
                      <input formControlName="outwardQuantity" matInput  type="number" placeholder="Outward Quantity">  
                  </mat-form-field>  
                  <mat-error>  
                      <span *ngIf="!outwardForm.get('outwardQuantity').valid && outwardForm.get('outwardQuantity').touched">Please enter Inward Quantity !!!</span>  
                  </mat-error>  
              </td>  
              
          </tr>   
          <tr>
              <td>  
                  <mat-form-field class="demo-full-width">  
                      <input formControlName="outwardAddedBy" matInput placeholder="added by">  
                  </mat-form-field>  
                  <mat-error>  
                      <span *ngIf="!outwardForm.get('outwardAddedBy').valid && outwardForm.get('outwardAddedBy').touched">Please provide your name !!!</span>  
                  </mat-error>  
              </td>  
          </tr> 
              
 

              <tr > 
                  <td>
                      <button mat-raised-button color="accent" [disabled]="!outwardForm.valid">Submit</button>  

              </td> 
                  <td class="content-center">  
                      <button mat-raised-button color="accent" type="reset" class="btn btn-success" id="reset-btn" ng-click="reset()">Reset</button> 
                  </td>  
              </tr>  
              <tr>  
                  <td></td>  
              </tr>  
          </table>  
      </form>  
  </mat-card-content>  
</mat-card>  